# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Python virtual environment
venv/
.venv/
env/
.env/
ENV/

# IDE and editor configuration files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db